//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {
    .ves-megamenu .navigation .level0:not(:first-child) > a:after {
        .lib-css(border-bottom, 10px solid @color-custom-grey2);
        .lib-css(border-left, 10px solid transparent);
        .lib-css(border-right, 10px solid transparent);
        .lib-css(transition, opacity .2s ease, visibility .2s ease);
        border-top: none;
        content: '';
        display: block;
        margin: auto;
        opacity: 0;
        width: 0;

    }

    .ves-megamenu .navigation .level0 > a:hover:after {
        opacity: 1;

    }

}