//  Newsletter subscription

//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .block.newsletter {
        margin: 0 auto;

        .field {
            .control {
                &:before {
                    display: none;
                }
            }
        }

        .title-new {
            margin-top: 100px;
            text-align: center;

            strong {
                .lib-font-size(18);
                .lib-css(font-weight, @font-weight__regular);
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }

        .subtitle {
            .lib-css(color, @color-custom-grey3);
            .lib-css(font-weight, @font-weight__regular);
            .lib-font-size(14);
            display: block;
            letter-spacing: 1px;
            text-align: center;
        }

        .form.subscribe {
            margin-top: 50px;
        }

        input {
            .lib-css(background-color, @color-custom-grey4);
            .lib-css(border-color, @color-custom-grey4);
            .lib-css(font-style, @font-style__emphasis);
            padding: 28px 10px;
            margin-right: 0;
        }

        .action.subscribe {
            .lib-css(background-color, @color-custom-grey4);
            .lib-css(border-color, @color-custom-grey4);
            .lib-css(box-shadow, ~'0 0 0 0 rgba(0, 0, 0, 0.2)');
            padding: 20px;

            :after {
                .lib-css(color, @color-custom-red1);
                .lib-css(font-weight, @font-weight__heavier);
                .lib-font-size(18);
                content: '→';
            }

            span {
                .lib-css(color, @color-black);
                .lib-css(font-weight, @font-weight__heavier);
                text-transform: uppercase;
            }

        }

        .action.primary:before,
        .action-primary:before {
            .lib-css(color, @color-custom-grey4);
        }
    }
}


//
//  Desktop
//  _____________________________________________

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    .block.newsletter {
        max-width: 70%;
        width: auto;

        .title-new {
            strong {
                .lib-font-size(24);
                letter-spacing: 1.2px;
            }
        }

        .subtitle {
            .lib-font-size(16);
            letter-spacing: 1.5px;
        }

        .field.newsletter {
            max-width: 530px;
        }

        input {
            padding: 28px;
        }

        .form.subscribe {
            > .field,
            > .actions {
                float: none;
            }
        }
    }


}


