//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    // Header
    .page-header {
        margin-bottom: 0;
    }

    .header.panel > .header.links > .authorization-link {
        display: block;
    }

    // Minicart-icon

    .page-header {
        .minicart-wrapper {
            .action.showcart {
                .lib-icon-font(
                    @_icon-font-content: @icon-fontello-cart,
                    @_icon-font: @font-family-fontello,
                    @_icon-font-size: 20px,
                    @_icon-font-color: @color-black
                );

                .counter.qty {
                    .lib-css(color, @color-black);
                    .lib-css(background-color, @color-white);

                    .counter-number {
                        .lib-css(color, @color-custom-red1);
                        text-shadow: none;

                        &:before {
                            content: '( ';

                        }

                        &:after {
                            content: ' )';
                        }
                    }
                }
            }
        }
    }

    // Header background

    .nav-sections {
        .lib-css(background, @color-white);
    }

    // Breadcrumbs

    .breadcrumbs,
    .page-title-wrapper {
        display: none;
    }


    // Tabs widget
    .trending {
        text-align: center;

        .trending-title {
            .lib-css(font-weight, @font-weight__light);
            .lib-font-size(30);
            text-transform: uppercase;
            display: inline-block;

            &:after {
                .lib-css(background-color, @color-custom-red1);
                content: '';
                display: block;
                border-radius: 5px;
                width: 80%;
                height: 3px;
                margin: 0 auto;
            }
        }

        .product.data.items {
            > .item.content {
                .lib-css(border, 1px solid transparent);
            }

            > .item.title > .switch {
                .lib-css(background, transparent);
                border: 0;
            }

        }

        .item.title {
            text-transform: uppercase;

            a {
                .lib-link(
                    @_link-color: @color-custom-grey1,
                    @_link-color-visited: @color-custom-grey1,
                    @_link-color-hover: @color-black,
                    @_link-text-decoration-hover: false,
                    @_link-color-active: @color-black,
                    @_link-text-decoration-active: false
                );
            }
        }
    }

    // Footer
    span.store-name {
        .lib-css(font-weight, @font-weight__bold);
        .lib-font-size(30);
        display: block;
        text-align: center;

        &:before {
            .lib-css(border-top, 2px solid @color-custom-grey2);
            content: '';
            display: block;
            height: 2px;
            margin: 0 auto 90px auto;
            width: 60%;

        }

        &:after {
            .lib-css(background-color, @color-custom-red1);
            content: '';
            display: block;
            border-radius: 5px;
            width: 80px;
            height: 3px;
            margin: 0 auto;
        }
    }


    .store-contact {
        .lib-css(color, @color-custom-contact);
        .lib-css(font-weight, @font-weight__bold);
        .lib-font-size(16);
        margin-top: 45px;
        text-align: center;
    }

    .store-nav {
        margin: 50px 0;
        text-align: center;

        span {
            a {
                margin-right: 35px;
                .lib-link(
                    @_link-color: @color-black,
                    @_link-color-visited: @color-black,
                    @_link-color-hover: @color-black,
                    @_link-text-decoration-hover: false,
                    @_link-color-active: @color-black,
                    @_link-text-decoration-active: false
                );
            }
        }

    }

    ul.social-icons {
        .lib-vendor-prefix-display(
            @_value: flex
        );
        justify-content: space-between;
        list-style-type: none;
        margin: 0 auto;
        max-width: 300px;

        li.icons-facebook {
            a {
                .lib-icon-font(
                    @_icon-font-content: @icon-fontello-fb,
                    @_icon-font: @font-family-fontello,
                    @_icon-font-size: 24px,
                    @_icon-font-color: @color-custom-social-icon
                );
            }
        }

        li.icons-vimeo {
            a {
                .lib-icon-font(
                    @_icon-font-content: @icon-fontello-vimeo,
                    @_icon-font: @font-family-fontello,
                    @_icon-font-size: 24px,
                    @_icon-font-color: @color-custom-social-icon
                );
            }
        }

        li.icons-gplus {
            a {
                .lib-icon-font(
                    @_icon-font-content: @icon-fontello-gplus,
                    @_icon-font: @font-family-fontello,
                    @_icon-font-size: 24px,
                    @_icon-font-color: @color-custom-social-icon
                );
            }
        }

        li.icons-twitter {
            a {
                .lib-icon-font(
                    @_icon-font-content: @icon-fontello-twitter,
                    @_icon-font: @font-family-fontello,
                    @_icon-font-size: 24px,
                    @_icon-font-color: @color-custom-social-icon
                );
            }
        }

        li.icons-pinterest {
            a {
                .lib-icon-font(
                    @_icon-font-content: @icon-fontello-pinterest,
                    @_icon-font: @font-family-fontello,
                    @_icon-font-size: 24px,
                    @_icon-font-color: @color-custom-social-icon
                );
            }
        }

        li.icons-youtube {
            a {
                .lib-icon-font(
                    @_icon-font-content: @icon-fontello-youtube,
                    @_icon-font: @font-family-fontello,
                    @_icon-font-size: 24px,
                    @_icon-font-color: @color-custom-social-icon
                );
            }
        }
    }

    .copyright {
        .lib-css(color, @color-black);
        .lib-css(background-color, @color-white);
        .lib-font-size(14);
    }

}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {

    // Header

    .logo {
        margin: 0;
    }

    .page-header {
        .header.content {
            .lib-vendor-prefix-display(
                @_value: flex
            );
            justify-content: space-between;
        }

        .panel.header {
            padding: 0;
            margin: 0;
        }
    }

    .header.content {
        .panel.header {
            .header.links {
                .link.authorization-link {
                    display: block;
                }

                .customer-welcome {
                    .action.switch {
                        .lib-css(color, @color-black);
                        position: absolute;
                        left: 35px;
                    }
                }
            }
        }
    }


    // Navigarion

    .nav-sections {
        margin-top: -5px;
    }

    // Minicart-icon

    .page-header {
        .minicart-wrapper {
            .action.showcart {
                margin-right: 20px;
            }
        }
    }

    // Tabs widget

    .product.data.items > .item.title {
        padding-left: 100px;
    }

    // Footer

    .page-footer,
    .copyright {
        .lib-css(color, @color-black);
        .lib-css(background-color, @color-white);
        .lib-font-size(14);
    }

}


