//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    // Slider

    .slider {
        width: 100vw;
        margin-left: calc(~"50% - 50vw");

        .slider-item {
            .lib-css(background-color, @color-custom-grey2);
            height: 500px;
            text-align: center;
            padding-top: 100px;

            .title {
                .lib-css(color, @color-white);
                text-transform: uppercase;
                font-size: 42px;
                opacity: 0.5;
                font-weight: @font-weight__light;

                span {
                    font-weight: @font-weight__bold;
                }
            }

            .subtitle {
                font-size: 28px;
                font-weight: @font-weight__light;
                display: inline-block;

                &:after {
                    content: '';
                    display: block;
                    background: @color-custom-red1;
                    border-radius: 5px;
                    width: 100%;
                    height: 2px;

                }
            }

            .intro {
                margin-top: 20px;

                a {
                    .lib-link(
                        @_link-color: @color-black,
                        @_link-color-visited: @color-black,
                        @_link-color-hover: @color-black,
                        @_link-text-decoration-hover: false,
                        @_link-color-active: @color-black,
                        @_link-text-decoration-active: false
                    );
                    text-transform: uppercase;
                    font-weight: @font-weight__heavier;
                    font-size: 10px;
                }
            }
        }
    }

    //Section Features

    .features {
        border-bottom: 2px solid #eff0f2;
        margin-top: 100px;
        padding-bottom: 45px;

        .features-item {
            margin-bottom: 25px;
            max-width: 310px;
            padding-left: 65px;
        }

        .features-title {
            font-size: 16px;
            text-transform: uppercase;
            margin: 5px auto;
        }

        .features-delivery {
            .lib-url('images/icon-delivery.jpg');
            background: url("@{url}") no-repeat left;
        }

        .features-return {
            .lib-url('images/icon-return.jpg');
            background: url("@{url}") no-repeat left;
        }

        .features-payment {
            .lib-url('images/icon-payment.jpg');
            background: url("@{url}") no-repeat left;

        }
    }


    //Section featured-categories

    .featured {

        .featured-categories {
            .lib-css(background-color, @color-custom-grey2);
            padding: 50px 0;
            margin-bottom: 20px;
            text-align: center;
        }

        .featured-title {
            font-weight: @font-weight__regular;
            font-size: 24px;
            text-transform: uppercase;
            display: inline-block;

            :after {
                background: @color-white;
                content: '';
                display: block;
                height: 30px;
                margin: -35px 0 0 40px;
                width: 80%;
            }

            a {
                .lib-link(
                    @_link-color: @color-black,
                    @_link-color-visited: @color-black,
                    @_link-color-hover: @color-black,
                    @_link-text-decoration-hover: false,
                    @_link-color-active: @color-black,
                    @_link-text-decoration-active: false
                );

                font-weight: @font-weight__heavier;

            }
        }
    }

    //Section featured content

    .featured-content {
        margin: 50px 0;

        .bg-gray {
            .lib-css(background-color, @color-custom-grey2);
            height: 200px;
        }

        .content-item {
            border-bottom: 2px solid #eff0f2;

            .content-title {
                font-weight: @font-weight__light;
                font-size: 24px;
                letter-spacing: 4px;
                text-align: center;
                text-transform: capitalize;


                span {
                    font-weight: @font-weight__bold;
                    font-size: 36px;
                    letter-spacing: normal;
                    text-transform: uppercase;
                }
            }

            .content-text {
                .lib-css(color, @color-custom-grey3);
                text-align: justify;
            }

            .content-more {
                .lib-css(color, @color-custom-red1);
                font-weight: @font-weight__bold;
                text-transform: uppercase;

                a {
                    .lib-link(
                        @_link-color: @color-custom-red1,
                        @_link-color-visited: @color-custom-red1,
                        @_link-color-hover: @color-custom-red1,
                        @_link-text-decoration-hover: false,
                        @_link-color-active: @color-custom-red1,
                        @_link-text-decoration-active: false
                    );
                    font-weight: @font-weight__bold;
                }
            }

            .content-shadow {
                .lib-css(color, @color-custom-grey4);
                font-size: 60px;
                font-weight: @font-weight__bold;
                text-align: center;
                text-transform: uppercase;
            }
        }

    }

    //Section news

    .news {
        border-bottom: 2px solid #eff0f2;
        padding-bottom: 20px;
        text-align: center;

        .subtitle {
            margin-bottom: 20px;
            font-size: 24px;
            display: inline-block;
            font-weight: @font-weight__light;
            text-transform: uppercase;

            &:after {
                content: '';
                display: block;
                background: @color-custom-red1;
                border-radius: 5px;
                width: 80%;
                height: 3px;
                margin: 0 auto;
            }
        }

        .bg-gray {
            .lib-css(background-color, @color-custom-grey2);
            height: 130px;
        }

        .article {
            .article-date {
                .lib-css(color, @color-custom-grey5);
                font-size: 14px;
            }

            .article-title {
                font-weight: @font-weight__bold;
                font-size: 16px;
                text-transform: uppercase;
            }

            .article-more {
                .lib-css(color, @color-custom-red1);
                font-weight: @font-weight__bold;
                font-size: 12px;
                text-transform: uppercase;

                a {
                    .lib-link(
                        @_link-color: @color-custom-red1,
                        @_link-color-visited: @color-custom-red1,
                        @_link-color-hover: @color-custom-red1,
                        @_link-text-decoration-hover: false,
                        @_link-color-active: @color-custom-red1,
                        @_link-text-decoration-active: false
                    );
                }
            }
        }
    }


    }


//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {


    // Slider Desktop

    .slider {

        .slider-item {

            .title {
                font-size: 100px;
            }

            .subtitle {
                font-size: 72px;

                &:after {
                    width: 70%;
                    height: 5px;
                    margin-left: 190px;
                    margin-right: -20px;

                }
            }

            .intro {
                padding-left: 400px;

                a {
                    font-size: 14px;
                }

            }
        }
    }
    .slider-dots {
        position: absolute;
        bottom: 100px;
        display: block;
        padding: 0;
        list-style: none;
        text-align: right;
        -moz-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg);
        width: 100px;
        right: 100px;
    }

    .slider-dots li {
        position: relative;
        display: inline-block;
        width: 20px;
        height: 20px;
        margin: 0 5px;
        padding: 0;
        cursor: pointer;
    }

    .slider-dots li button {
        font-size: 0;
        line-height: 0;
        display: block;
        width: 20px;
        height: 20px;
        padding: 5px;
        cursor: pointer;
        color: transparent;
        border: 0;
        outline: none;
        background: transparent;
    }

    .slider-dots li button:hover,
    .slider-dots li button:focus {
        outline: none;
    }

    .slider-dots li button:hover:before,
    .slider-dots li button:focus:before {
        opacity: 1;
    }

    .slider-dots li button:before {
        font-size: 20px;
        line-height: 12px;
        position: absolute;
        top: 0;
        left: 0;
        width: 10px;
        height: 10px;
        content: ' \25CF';
        text-align: center;
        opacity: .25;
        color: #dddddd;;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

    }

    .slider-dots li.slick-active button:before {
        opacity: .75;
        color: transparent;
        border: 2px solid #cc0d0d;
        border-radius: 50%;
    }

    //Section Features

    .features {
        .lib-vendor-prefix-display(
            @_value: flex
        );
        justify-content: space-between;
        height: 100%;

        .features-item {
            margin-bottom: 0;
        }
    }

    //Section Featured-categories

    .featured {
        .lib-vendor-prefix-display(
            @_value: flex
        );
        justify-content: space-between;

        .featured-categories {
            width: 48%;
        }

        .featured-shoes {
            padding: 10em 0 2em 0;
            text-align: left;

            .featured-title {
                margin-left: 30px;
            }
        }

        .featured-trends {
            padding: 2em 0 10em 0;
            text-align: right;

            .featured-title {
                margin-right: 30px;
            }
        }
    }

    //Section featured content

    .featured-content {
        .bg-gray {
            height: 320px;
            width: 50%;
        }

        .content-item {
            border-bottom: none;
            height: 320px;
            width: 50%;
        }

        .wrapper-content1 {
            .lib-vendor-prefix-display(
                @_value: flex
            );
            justify-content: space-between;
            margin: 30px auto;

            .content-item {
                .content-title {
                    margin: 1em 2em 0 0;
                    text-align: right;
                }

                .content-text {
                    margin: 0 65px;
                }

                .content-more {
                    margin: 25px 0 0 65px;
                }

                .content-shadow {
                    font-size: 100px;
                    margin: -25px 0 0 -4px;
                    text-align: left;
                }
            }
        }

        .wrapper-content2 {
            .lib-vendor-prefix-display(
                @_value: flex
            );
            justify-content: space-between;
            margin: 30px auto;

            .content-item {
                .content-title {
                    margin: 1em 2em 0 0;
                    text-align: right;
                }

                .content-text {
                    margin: 0 65px;
                }

                .content-more {
                    margin: 25px 0 0 65px;
                }

                .content-shadow {
                    font-size: 100px;
                    margin: -25px -4px 0 0;
                    text-align: right;
                }
            }
        }

    }

    //Section news

    .news {
        padding-bottom: 150px;

        .subtitle {
            font-size: 30px;
            margin-bottom: 40px;
        }

        .bg-gray {
            height: 180px;
            width: 265px;
        }

        .article {
            text-align: left;
            width: 265px;

            .article-date,
            .article-title,
            .article-more {
                margin: 20px 20px 0 40px;
            }

            .article-title {
                font-size: 18px;

            }

        }

        .slider-dots {
            bottom: -90px;
            right: 0;
            text-align: center;
            -moz-transform: none;
            -webkit-transform: none;
            -o-transform: none;
            -ms-transform: none;
            transform: none;
            width: 100%;

        }
    }

}





