//
//  Common
//  _____________________________________________

& when (@media-common = true) {


    .block-content {

        .slick-prev.slick-arrow {
            height: max-content;
            width: max-content;
            left: -50px;
            top: 150px;

            &:before {
                font-size: 50px;
                color: #cccccc;
            }
        }

        .slick-next.slick-arrow {
            height: max-content;
            width: max-content;
            top: 150px;
            right: -50px;

            &:before {
                font-size: 50px;
                color: #cccccc;
            }
        }


        .product-item-details {
            .action.view {
                display: none;
            }

            .price-label {
                display: none;
            }
        }

        .product-item-inner {
            .product-item-actions {
                .actions-primary {
                    form {
                        button {
                            background: #ffffff;
                            border: none;

                            span {
                                color: #000000;
                                text-transform: uppercase;
                                font-weight: @font-weight__regular;

                                .fas {
                                    margin-right: 1em;
                                }
                            }
                        }
                    }

                    .actions-secondary {
                        .action.towishlist {
                            a {
                                &:before {
                                    .lib-icon-font(
                                        @_icon-font-content: '\e802',
                                        @_icon-font: @font-family-fontello
                                    );
                                }
                            }
                        }
                    }
                }

                .actions-secondary {
                    .action.tocompare {
                        display: none;
                    }

                }
            }
        }
    }

}

//
//  Desktop
//  ---------------------------------------------

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m) {


    .block-content {

        .product-item-inner {
            .product-item-actions {
                background: transparent;
                margin-top: -180px;

                .actions-secondary {
                    .action.towishlist {
                        background: #ffffff;
                        border-left: 1px solid #f0f1f3;
                    }
                }


            }
        }
    }


}


