<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="stepikova_moduleslider" frontName="stepikova_moduleslider">
            <module name="Stepikova_ModuleSlider"/>
        </route>
    </router>
</config>

