
& when (@media-common = true) {
  // User-icon
  .header.panel {
    .header.links {
      li {
        a {
          .lib-icon-font(
            @_icon-font-content: '\e01c',
            @_icon-font: @font-family-fontello,
            @_icon-font-size: 20px,
            @_icon-font-color: #000000,
            @_icon-font-text-hide: true
          );
        }
      }
    }
  }
}


