//
//  Common
//  _____________________________________________

& when (@media-common = true) {

  // User-icon
  .header.panel {
    .header.links {
      li {
        a {
          .lib-icon-font(
            @_icon-font-content: '\f2c0',
            @_icon-font: @font-family-fontello,
            @_icon-font-size: 20px,
            @_icon-font-color: @color-black,
            @_icon-font-text-hide: true
          );
        }
      }
    }
  }
}


